body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fbfbfb;
  font-size:1.1em;
  color:#aaa;
  text-align:center;
}

h3 { margin:0; padding:0; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table { width:100%; text-align:left; color:#777; }

.padder {
  padding:1em;
}

.color {
  color:#6d6daa;
}

.bgColor {
  background-color:#6d6daa;
}

.header_spacer {
  padding:2.5em;
}

.spacer {
  padding:0.1em;
}

.center_me {
  position: absolute;
  right: 50%;
  left: 50%;
}

@media only screen and (max-width: 800px) {
  body {
    padding:1.8em;
  }

  .header_spacer { padding:1.25em; }

  .hide_small { display:none; }
}